$bg: #ebebeb;
$testo: #000000;
$carattere: Catamaran;
$size: 1.1rem;
$delta_size: 0.5;

$titolo: #111;

$size_titolo: 1.5rem;
$size_sottotitolo: 1.2rem;
$carattere_titolo: "Cormorant Garamond";

$bg_elementi: #3a3a3a;
$bg_elementi_hover: #1a1a1a;
$c_elementi: #CEFFAD;
$sc_elementi_hover: #FDD3A1;
